fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

langchain==1.3.13
langchain-community==0.4.2
langchain-google-genai==4.2.7
google-genai==2.11.0

faiss-cpu
sentence-transformers
langchain-huggingface
